:root{
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-family);
    background-color: var(--light-gray);
    color: var(--text-dark);
    line-height: 1.6;
}

#root {
    min-height: 100vh;
}