.header {
    background-color: var(--header-blue);
    color: var(--white);
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 23px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.userName {
    font-size: 16px;
    font-weight: 700;
}